<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Hockey Matches</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="div_title" >
        <h1 class="title">Live Hockey Inline Matches Italy</h1>
    </div>

    <div id="details">
        <div id="div_team1" class="team_detail"> <h1 id="content_team1"></h1> </div>
        <div id="div_team2" class="team_detail"> <h1 id="content_team2"></h1> </div>
    </div>

    <script>
            const socket = new WebSocket("ws://localhost:8000/ws");
            const container = document.getElementById("details");

            socket.onopen = () => {
                console.log("WebSocket aperto");
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                document.getElementById("content_team1").innerText = JSON.stringify(data.players1, null, 2);
                document.getElementById("content_team2").innerText = JSON.stringify(data.players2, null, 2);



            };

            socket.onclose = () => {
                console.log("WebSocket chiuso");
            };

        </script>

</body>
</html>