<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Hockey Matches</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="div_title" >
        <h1 class="title">Live Hockey Inline Matches Italy</h1>
    </div>

   <button id="MyButton" class="button">Go back</button>

    <div id="details" class="class_details">
        <div id="div_team1" class="team_detail">
            <h1 style="color: gold" id="team1_details_title"> team1 </h1>
            <h1 style="color: gold"> - - - Goalkeeper - - - </h1>
            <h1 id="goalkeeper_team1"> </h1>
            <h1 style="color: gold"> - - - Reserve Goalkeeper - - - </h1>
            <h1 id="reserve_goalkeeper_team1"> </h1>
            <h1 style="color: gold"> - - - Defenders - - -</h1>
            <h1 id="defenders_team1"> </h1>
            <h1 style="color: gold"> - - - Reserve Defenders - - - </h1>
            <h1 id="reserve_defenders_team1"> </h1>
            <h1 style="color: gold"> - - - Forwards - - - </h1>
            <h1 id="forwards_team1"> </h1>
            <h1 style="color: gold"> - - - Reserve Forwards - - - </h1>
            <h1 id="reserve_forwards_team1"> </h1>
        </div>
        <div id="div_team2" class="team_detail">
            <h1 style="color: gold" id="team2_details_title"> team2 </h1>
            <h1 style="color: gold"> - - - Goalkeeper - - - </h1>
            <h1 id="goalkeeper_team2"> </h1>
            <h1 style="color: gold"> - - - Reserve Goalkeeper - - - </h1>
            <h1 id="reserve_goalkeeper_team2"> </h1>
            <h1 style="color: gold"> - - - Defenders - - -</h1>
            <h1 id="defenders_team2"> </h1>
            <h1 style="color: gold"> - - - Reserve Defenders - - - </h1>
            <h1 id="reserve_defenders_team2"> </h1>
            <h1 style="color: gold"> - - - Forwards - - - </h1>
            <h1 id="forwards_team2"> </h1>
            <h1 style="color: gold"> - - - Reserve Forwards - - - </h1>
            <h1 id="reserve_forwards_team2"> </h1>
        </div>
    </div>

    <script>
            const socket = new WebSocket("ws://localhost:8000/ws");
            //const container = document.getElementById("details");

            document.getElementById("MyButton").onclick = function() {
                window.location.href = `/`;
            };

            socket.onopen = () => {
                console.log("WebSocket aperto");
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.log(data);
                console.log(data.players1.defenders);
                // Team 1
                document.getElementById("team1_details_title").innerHTML = data.team1;
                document.getElementById("goalkeeper_team1").innerHTML = data.players1.goalkeeper;
                document.getElementById("reserve_goalkeeper_team1").innerHTML = data.players1.reserve_goalkeeper;
                document.getElementById("defenders_team1").innerHTML = data.players1.defenders;
                document.getElementById("reserve_defenders_team1").innerHTML = data.players1.reserve_defenders;
                document.getElementById("forwards_team1").innerHTML = data.players1.forwards;
                document.getElementById("reserve_forwards_team1").innerHTML = data.players1.reserve_forwards;

                // Team 2
                document.getElementById("team2_details_title").innerHTML = data.team2;
                document.getElementById("goalkeeper_team2").innerHTML = data.players2.goalkeeper;
                document.getElementById("reserve_goalkeeper_team2").innerHTML = data.players2.reserve_goalkeeper;
                document.getElementById("defenders_team2").innerHTML = data.players2.defenders;
                document.getElementById("reserve_defenders_team2").innerHTML = data.players2.reserve_defenders;
                document.getElementById("forwards_team2").innerHTML = data.players2.forwards;
                document.getElementById("reserve_forwards_team2").innerHTML = data.players2.reserve_forwards;
            };

            socket.onclose = () => {
                console.log("WebSocket chiuso");
            };

    </script>

</body>
</html>