<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Hockey Matches</title>
    <style>
        <link rel="stylesheet" href="../App_Livescore/templates/styles.css">
    </style>
</head>
<body>
    <script>
        let socket = null;

        document.getElementById("start").onmessage = () => {
            socket = new WebSocket("ws://localhost:8888/ws");

            socket.onopen = () => {
                console.log("WebSocket aperto");
                document.getElementById("start").disabled = true;
                document.getElementById("stop").disabled = false;
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                document.getElementById("output").innerText =
                    "Timestamp da server: " + data.timestamp;
            };

            socket.onclose = () => {
                console.log("WebSocket chiuso");
            };
        };

        document.getElementById("stop").onclick = () => {
            socket.close();
            document.getElementById("start").disabled = false;
            document.getElementById("stop").disabled = true;
        };
    </script>
    <div class="div_title">
        <h1 class="title">Live Hockey Inline Matches Italy</h1>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>
    <div class="div_match">
        <h3 class="title">Match</h3>
    </div>

</body>
</html>